body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #58554b;
  gap: 1em;
  background-image: url(assets/background/background.png);
  margin: 1rem;
}

h1 {
  color: #55574b;
  font-size: 3rem;
}

.slider {
  width: 100%;
  max-width: 45rem;
  margin: 1em;
  border: 1rem solid #559663;
  border-radius: 2rem;
  background-color: #559663;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
  transition: all 0.5s ease-in-out;
  order: 1;
}

.slide {
  width: 25%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.slides-text {
  margin: 0.15rem;
  width: 400%;
  height: 100%;
  display: flex;
  transition: all 0.5s ease;
  order: 2;
}

.slide-text {
  color: #fff;
  width: 25%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

span {
  color: #fff;
  background-color: #559663;
  transition: all 1.5s ease-in-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.5rem;
}

.navPoints {
  display: flex;
  justify-content: end;
  order: 3;
}

.point {
  border: 0.5rem solid #559663;
  height: 1rem;
  width: 1rem;
  margin: 0.15rem;
  cursor: pointer;
  background-color: #a8d4b1;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 1.15s ease;
}

.point:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.point:active {
  opacity: 0.8;
  background-color: transparent;
  border: 0.01rem solid #a8d4b1;
  transform: scale(1.1);
}

input[name="point"] {
  display: none;
}

#slide1:checked ~ .slides {
  margin-left: 0;
}
#slide2:checked ~ .slides {
  margin-left: -100%;
}
#slide3:checked ~ .slides {
  margin-left: -200%;
}
#slide4:checked ~ .slides {
  margin-left: -300%;
}

#slide1:checked ~ .slides-text {
  margin-left: 0;
}
#slide2:checked ~ .slides-text {
  margin-left: -100%;
}
#slide3:checked ~ .slides-text {
  margin-left: -200%;
}
#slide4:checked ~ .slides-text {
  margin-left: -300%;
}

#slide1:checked ~ .navPoints label:nth-child(1),
#slide2:checked ~ .navPoints label:nth-child(2),
#slide3:checked ~ .navPoints label:nth-child(3),
#slide4:checked ~ .navPoints label:nth-child(4) {
    opacity: 0.9;
    transform: scale(1.1);
    border: 0.5rem solid #559663;
}


@media (max-width: 400px) {
  .navPoints {
    margin: 0.15rem;
    order: 2;
    justify-content: center;
  }
  .slides {
    order: 1;
  }
  .slides-text {
    order: 3;
    text-align: center;
  }
}
